.Add {
  width: 300px;
  min-height: 100vh;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 0px;
  align-items: center;
}
.Header {
  width: 300px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.GiButterfly {
  font-size: 2rem;
  color: rgb(36, 2, 68);
}
.AI1 {
  font-family: CL;
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-top: 5px;
  color: rgb(36, 2, 68);
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.AI2 {
  width: 220px;
  min-height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(192, 190, 190);
  box-shadow: 0 0 0.2rem gray;
  border-radius: 5px;
  align-items: flex-end;
  justify-content: flex-start;
  position: absolute;
  background-color: white;
  text-align-last: left;
  z-index: 3000;
  margin-top: 270px;
}
.option {
  width: 200px;
  min-height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  transition: 0.5s;
  font-family: CL;
  font-size: 1rem;
}
.option2 {
  border-radius: 5px 5px 0 0;
}
.option3 {
  border-radius: 0 0 5px 5px;
}
.option:hover {
  background-color: rgba(255, 255, 0, 0.3);
}
.Divider3 {
  position: relative;
  width: 100px;
  min-height: 1px;
  background-color: beige;
  top: 3px;
}
.Divider4 {
  position: relative;
  width: 50px;
  min-height: 1px;
  background-color: beige;
  top: 6px;
}
.TitleInput {
  border: 1px solid rgb(228, 228, 188);
  width: 210px;
  padding: 12px 8px 12px 8px;
  font-family: CL;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  margin-top: 10px;
}
.Form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.TitleTextarea {
  border: 1px solid rgb(228, 228, 188);
  width: 210px;
  padding: 8px;
  font-family: CL;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  margin-top: 10px;
  resize: none;
  min-height: 150px;
  direction: rtl;
  text-align: justify;
  overflow: hidden;
}
.Error {
  border: 1px solid beige;
  width: 210px;
  padding: 8px;
  font-family: CL;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgb(167, 5, 5, 0.2);
  color: rgb(167, 5, 5);
}
.Success {
  border: 1px solid beige;
  width: 210px;
  padding: 8px;
  font-family: CL;
  font-size: 1rem;
  outline: none;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgba(60, 255, 0, 0.3);
  color: rgb(32, 126, 3);
}
